.navBar {
  position: relative;
}

.navBar button {
  position: fixed;
  right: 7vw;
  top: 5vh;
  z-index: 10;
  cursor: pointer;
  padding: 3px;
  animation: nav-animation 3s;
}
@keyframes nav-animation {
  0% {
  opacity: 1%;
  }
  40%{
    opacity: 40%;
  }
  
  80% {
    transition-timing-function: ease-in;
    transition: 4s;
    transform: rotate(360deg);
  }
  100% {
    opacity: 100%;
  }
}
@media screen and (max-width:450px) { 
  .navBar button {
    position: fixed;
    right: 2vw;
    top: 20px;
    z-index: 10;
    cursor: pointer;
    padding: 3px;
  }
}
.closeBtn {
  color: rgb(255, 1, 192);
}
.menuNav {
  overflow-y: scroll;
  list-style: none;
  position: fixed;
  top: 0;
  background: rgb(212, 212, 212);
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 0;
  overflow: hidden;
  z-index: 9;
}

.menuNav.showMenu {
  width: 40vw;
  opacity: 95%;
}

a {
  width: 250px;
  display: block;
  padding: 10px 60px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 55px;
  font-family: sans-serif;
}

.menuNav li:first-child {
  margin-top: 7rem;
}

.navBar button {
  background: transparent;
  border: none;
  color: black;
}
.navBar button a{
  transform:translatex(95px) translatey(-48px);
 }
 
@media screen and (min-width: 350px) and (max-width: 600px) {
  .menuNav.showMenu {
    width: 100vw;
    opacity: 99.8%;
  }
}
