/* screen */
@media (min-width: 801px) {
  .first {
    background-image: url("../assets//HomeBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  .name {
    color: rgb(250, 250, 250);
    position: relative;
    top: 15px;
    font-size: 45px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
  }

  .home-container .body {
    display: flex;
    padding: 0 200px 0 200px;
    justify-content: center;
  }

  .first .text {
    width: 380px;
    font-size: 78px;
    font-family: sans-serif;
    color: rgb(233, 197, 231);
    opacity: 80%;
    margin-top: 100px;
  }
  .text .animation-txt{
    animation: text-animation 2s;
    color: rgb(255, 0, 212);
    text-decoration: underline;
    cursor: pointer;
    width: 380px;
    font-size: 70px;
    font-family: sans-serif;
    opacity: 80%;
    margin-left: -58px;
    
  }
  
  @keyframes text-animation {
    0% {
    }
    50%{
    color: rgb(211, 131, 248);
    }
    100% {

    }
  }
  .home-container {
    overflow: hidden;
  }
  .home-container .home-photo {
    width: 450px;
    position: relative;
    animation: photo-animation 2s ease-in;
  }

  @keyframes photo-animation {
    0% {
      left: 350px;
    }
    90% {
      transition-timing-function: ease-in;
      transition: 3s;
      transform: translatex(-220px);
    }
    100% {
      left: 0;
    }
  }
  .home-container .second {
    width: 100%;
    height: 100%;
    background-color: #acb1c4;
  }
  .second {
    display: grid;
    align-items: flex-end;
  }
  .second .section2-img {
    width: 650px;
    display: block;
    margin: auto;
  }
  .second .text {
    font-family: "Limelight", cursive;
    font-size: 75px;
    text-align: center;
    margin-top: 69px;
  }

  .third {
    overflow: hidden;
  }
  .white-side {
    height: 300px;
    width: 100%;
  }
  .third .text {
    font-family: "Limelight", cursive;
    font-size: 45px;
    text-align: center;
    margin-top: 150px;
  }
  .third .section3-img {
    width: 300px;
    display: block;
    margin: auto;
  }
  .dark-side {
    background-color: #242424;
    height: 290px;
    width: 100vw;
  }
  .third .second-text {
    font-family: "Limelight", cursive;
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 120px;
    color: rgb(255, 255, 255);
  }
  .forth {
    height: 700px;
    width: 100%;
    background-color: #c971c9eb;
  }
  .forth .container {
    display: grid;
    align-items: baseline;
    position: relative;
    height: 100vh;
  }
  .forth .section4-img {
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
  }
  .forth .text {
    font-family: "Limelight", cursive;
    font-size: 45px;
    text-align: center;
    color: white;
    margin-top: 100px;
  }
  .forth .second-text {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    color: balck;
  }

  /* mobile */
}
@media (max-width: 450px) {
  .first {
    background-image: url("../assets//HomeBgPhone.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  .home-container .first {
    height: 100vh;
  }

  .name {
    color: white;
    font-size: 25px;
    font-family: relway;
    position: relative;
    margin-left: 7px;
    top: 10vh;
    font-weight: bold;
  }

  .home-container body {
    display: grid;
    align-items: flex-end;
    justify-content: baseline;
  }
  .first .text {
    color: white;
    font-size: 60px;
    margin-top: 20vh;
    margin-left: 5px;
    font-family: sans-serif;
  }

  .home-container .home-photo {
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 70px;
    animation: photo-animation 3s ease-in;
  }
  @keyframes photo-animation {
    0% {
      left: 250px;
    }
    40% {
    }

    80% {
      transition-timing-function: ease-in;
      transition: 3s;
      transform: translatex(-100px);
    }
    100% {
      left: 70;
    }
  }
  .home-container .second {
    height: 100vh;
    background-color: #acb1c4;
    position: relative;
  }
  .second {
    display: grid;
  }
  .second .section2-img {
    width: 350px;
    position: absolute;
    bottom: 0;
  }
  .second .text {
    font-family: "Limelight", cursive;
    font-size: 45px;
    position: absolute;
    top: 150px;
    text-align: center;
  }
  .third {
    height: 100vh;
    background-size: cover;
    width: 100%;
    z-index: -5;
  }

  .third .white-side {
    position: relative;
    top: 110px;
    height: 50vh;
  }

  .third .section3-img {
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
  }
  .third .text {
    font-family: "Limelight", cursive;
    font-size: 45px;
    text-align: center;
  }
  .dark-side {
    background-color: rgb(27, 26, 26);
    height: 50vh;
    text-align: center;
  }
  .third .second-text {
    color: rgb(255, 255, 255);
    font-size: 45px;
    position: relative;
    top: 20vh;
  }

  .forth {
    height: 100vh;
    background-color: #c971c9eb;
  }
  .forth .container {
    display: grid;
    position: relative;
    position: relative;
    top: 200px;
  }
  .forth .section4-img {
    width: 300px;
    display: block;
    margin: auto;
    bottom: 0px;
  }
  .forth .text {
    font-family: "Limelight", cursive;
    font-size: 40px;
    text-align: center;
    color: white;
  }
  .forth .second-text {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    color: #242424;
  }
}

/* split screen */
@media (min-width: 451px) and (max-width: 800px) {
  .first {
    background-image: url("../assets//HomeBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
  }
  .name {
    color: rgb(250, 250, 250);
    position: relative;
    top: 25px;
    font-size: 35px;
    font-family: relway;
    font-weight: bold;
    padding-left: 25px;
  }
  .home-container .body {
    display: flex;
    justify-content: center;
    padding-top: 55px;
  }
  .first .text {
    width: 380px;
    font-size: 78px;
    font-family: sans-serif;
    color: rgb(233, 197, 231);
    opacity: 80%;
    margin-top: 100px;
  }

  .home-container .home-photo {
    width: 230px;
  }

  .home-container .second {
    width: 100%;
    height: 100%;
    background-color: #acb1c4;
  }
  .second {
    display: grid;
    align-items: flex-end;
  }
  .second .section2-img {
    width: 550px;
    display: block;
    margin: auto;
  }
  .second .text {
    font-family: "Limelight", cursive;
    font-size: 75px;
    text-align: center;
    margin-top: 69px;
  }

  .third {
    overflow: hidden;
  }
  .white-side {
    height: 300px;
    width: 100%;
  }
  .third .text {
    font-family: "Limelight", cursive;
    font-size: 45px;
    text-align: center;
    margin-top: 150px;
  }
  .third .section3-img {
    width: 300px;
    display: block;
    margin: auto;
  }
  .dark-side {
    background-color: #242424;
    height: 290px;
    width: 100vw;
  }
  .third .second-text {
    font-family: "Limelight", cursive;
    font-size: 45px;
    text-align: center;
    position: relative;
    top: 120px;
    color: rgb(255, 255, 255);
  }
  .forth {
    height: 700px;
    width: 100%;
    background-color: #c971c9eb;
  }
  .forth .container {
    display: grid;
    align-items: baseline;
    position: relative;
    height: 100vh;
  }
  .forth .section4-img {
    width: 300px;
    display: block;
    margin: auto;
    position: relative;
  }
  .forth .text {
    font-family: "Limelight", cursive;
    font-size: 45px;
    text-align: center;
    color: white;
    margin-top: 100px;
  }
  .forth .second-text {
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
    color: balck;
  }
}
